<h1><%= @feed.title %></h1>
<p><%= @feed.url %></p>
<p><%= @feed.description %></p>

<% @feed.articles.each do |article| %>
  <ul>
    <p><%= link_to article.title, feed_article_path(@feed,article) %></p>
  </ul>
<% end %>

<%= link_to "<< Back to Feeds List", feeds_path %>
