<% content_for :feeds do %>
  <dl>
    <% @feeds.each do |feed| %>
      <dt>
        <%= link_to feed.title, feed_path(feed) %>
        <span style = "float:right;">
          <%= "(" %>
          <%= link_to "x", feed_path(feed), method: :delete %>
          <%= ")" %>
        </span>
      </dt>
    <% end %>
  </dl>
<% end %>

<h1 style = "text-align: center;"><%= "Latest" %></h1>
<hr>
<% @articles.each do |article| %>
  <h3><%= article.title %></h3>
  <p><%= article.description.html_safe %></p>
  <hr>
<% end %>
