<!DOCTYPE html>
<html>
  <head>
    <title>UssRssReader</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class = "feeds">
      <span style = "float: right">
        <%= "kurionta v"%>
      </span>
      <hr>
      <%= yield :feeds%>
    </div>

    <div class = "articles">
      <%= yield %>
    </div>
  </body>
</html>
